@font-face {
    font-family: "OxaniumBold";
    src: url("./fonts/Oxanium-Bold.ttf");
}

@font-face {
    font-family: "OxaniumMedium";
    src: url("./fonts/Oxanium-Medium.ttf");
}

@font-face {
    font-family: "OxaniumLight";
    src: url("./fonts/Oxanium-Light.ttf");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 1920px;
    height: 1080px;
    overflow: hidden;
    color: white;
    font-family: OxaniumBold;
}

/* ===================== BACKGROUND ===================== */

#topimage {
    position: absolute;
    top: 0;
    left: 0;
    width: 1920px;
    height: 1080px;
    z-index: 0;
}

/* ===================== BRACKET ===================== */

.bracket {
    position: absolute;
    inset: 0;
    z-index: 2;
}

/* ===================== ROUND CONTAINERS ===================== */

.round {
    position: absolute;
}

.round1 {
    left: 108px;
    top: 40px;
    gap: 26px;
}

.round2 {
    left: 420px;
    top: 40px;
}

.round3 {
    left: 730px;
    top: 40px;
}

.round4 {
    left: 1040px;
    top: 40px;
}

.round5 {
    left: 1350px;
    top: 40px;
}

.round6 {
    left: 1660px;
    top: 40px;
}

/* ===================== TITLE ===================== */

.roundtitle {
    margin-bottom: 30px;
    font-family: OxaniumBold;
    font-size: 34px;
    color: white;
    -webkit-text-stroke: 1.4px black;

    width: 180px;
}

/* ===================== MATCH CONTAINERS ===================== */

#matchR { position: absolute; top: 102px; left: -40px; }
#matchS { position: absolute; top: 218px; left: -40px; }
#matchT { position: absolute; top: 335px; left: -40px; }
#matchU { position: absolute; top: 451px; left: -40px; }
#matchV { position: absolute; top: 581px; left: -40px; }
#matchW { position: absolute; top: 698px; left: -40px; }
#matchX { position: absolute; top: 814px; left: -40px; }
#matchY { position: absolute; top: 930px; left: -40px; }

#matchZ { position: absolute; top: 102px; left: -43px; }
#matchAA { position: absolute; top: 218px; left: -55px; }
#matchAB { position: absolute; top: 335px; left: -55px; }
#matchAC { position: absolute; top: 451px; left: -55px; }
#matchAD { position: absolute; top: 581px; left: -55px; }
#matchAE { position: absolute; top: 698px; left: -55px; }
#matchAF { position: absolute; top: 814px; left: -55px; }
#matchAG { position: absolute; top: 930px; left: -55px; }

#matchAH { position: absolute; top: 160px; left: -55px; }
#matchAI { position: absolute; top: 394px; left: -55px; }
#matchAJ { position: absolute; top: 640px; left: -55px; }
#matchAK { position: absolute; top: 874px; left: -55px; }

#matchAL { position: absolute; top: 160px; left: -55px; }
#matchAM { position: absolute; top: 394px; left: -55px; }
#matchAN { position: absolute; top: 640px; left: -55px; }
#matchAO { position: absolute; top: 874px; left: -55px; }

#matchAP { position: absolute; top: 277px; left: -55px; }
#matchAQ { position: absolute; top: 755px; left: -55px; }

#matchAR { position: absolute; top: 277px; left: -55px; }
#matchAS { position: absolute; top: 755px; left: -55px; }

/* ===================== ROUND 1 ===================== */
/* ===================== MATCH ID (A, B, C...) ===================== */

#R, #S, #T, #U,
#V, #W, #X, #Y {
    position: absolute;
    left: 0;
    top: 10px;

    width: 28px;
    text-align: center;

    font-size: 40px;
    color: white;
    -webkit-text-stroke: 1px black;
}

/* ===================== BLUE TEAM ===================== */

#RBlue, #SBlue, #TBlue, #UBlue,
#VBlue, #WBlue, #XBlue, #YBlue {
    position: absolute;
    left: 46px;
    top: -2px;

    width: 150px;

    font-size: 24px;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    color: white;
    -webkit-text-stroke: 1px black;
}

/* ===================== BLUE TEAM SCORE ===================== */
#RBlueScore, #SBlueScore, #TBlueScore, #UBlueScore,
#VBlueScore, #WBlueScore, #XBlueScore, #YBlueScore {
    position: absolute;
    left: 182px;
    top: -10px;
    text-align: center;

    width: 80px;

    font-size: 35px;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    color: white;
    -webkit-text-stroke: 1px black;
}

/* ===================== ORANGE TEAM ===================== */

#ROrange, #SOrange, #TOrange, #UOrange,
#VOrange, #WOrange, #XOrange, #YOrange {
    position: absolute;
    left: 46px;
    top: 46px;

    width: 150px;

    font-size: 24px;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    color: white;
    -webkit-text-stroke: 1px black;
}

/* ===================== ORANGE TEAM SCORE ===================== */
#ROrangeScore, #SOrangeScore, #TOrangeScore, #UOrangeScore,
#VOrangeScore, #WOrangeScore, #XOrangeScore, #YOrangeScore {
    position: absolute;
    left: 182px;
    top: 38px;
    text-align: center;

    width: 80px;

    font-size: 35px;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    color: white;
    -webkit-text-stroke: 1px black;
}


/* ===================== ROUND 2 ===================== */
/* ===================== MATCH ID (A, B, C...) ===================== */
#Z, #AA, #AB, #AC,
#AD, #AE, #AF, #AG {
    position: absolute;
    left: 0;
    top: 10px;

    width: 28px;
    text-align: center;

    font-size: 40px;
    color: white;
    -webkit-text-stroke: 1px black;
}

/* ===================== BLUE TEAM ===================== */
#ZBlue {
    position: absolute;
    left: 47px;
    top: -2px;

    width: 150px;

    font-size: 24px;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    color: white;
    -webkit-text-stroke: 1px black;
}

#AABlue, #ABBlue, #ACBlue, #ADBlue, #AEBlue, #AFBlue, #AGBlue {
    position: absolute;
    left: 58px;
    top: -2px;

    width: 150px;

    font-size: 24px;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    color: white;
    -webkit-text-stroke: 1px black;
}

#ZBlueScore {
    position: absolute;
    left: 182px;
    top: -10px;
    text-align: center;

    width: 80px;

    font-size: 35px;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    color: white;
    -webkit-text-stroke: 1px black;
}

#AABlueScore, #ABBlueScore, #ACBlueScore, #ADBlueScore, #AEBlueScore, #AFBlueScore, #AGBlueScore {
    position: absolute;
    left: 194px;
    top: -10px;
    text-align: center;

    width: 80px;

    font-size: 35px;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    color: white;
    -webkit-text-stroke: 1px black;
}

/* ===================== ORANGE TEAM ===================== */
#ZOrange {
    position: absolute;
    left: 46px;
    top: 46px;

    width: 150px;

    font-size: 24px;

    white-space: nowrap;
    overflow: hidden;

    color: white;
    -webkit-text-stroke: 1px black;
}

#AAOrange, #ABOrange, #ACOrange, #ADOrange, #AEOrange, #AFOrange, #AGOrange {
    position: absolute;
    left: 58px;
    top: 46px;

    width: 150px;

    font-size: 24px;

    white-space: nowrap;
    overflow: hidden;

    color: white;
    -webkit-text-stroke: 1px black;
}

#ZOrangeScore {
    position: absolute;
    left: 182px;
    top: 38px;
    text-align: center;

    width: 80px;

    font-size: 35px;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    color: white;
    -webkit-text-stroke: 1px black;
}

#AAOrangeScore, #ABOrangeScore, #ACOrangeScore, #ADOrangeScore, #AEOrangeScore, #AFOrangeScore, #AGOrangeScore {
    position: absolute;
    left: 194px;
    top: 38px;
    text-align: center;

    width: 80px;

    font-size: 35px;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    color: white;
    -webkit-text-stroke: 1px black;
}


/* ===================== ROUND 3 ===================== */

#AH, #AJ, #AK {
    position: absolute;
    left: 1px;
    top: 10px;
    width: 28px;
    text-align: center;
    font-size: 40px;
    color: white;
    -webkit-text-stroke: 1px black;
}

#AI {
    position: absolute;
    left: 8px;
    top: 10px;
    width: 28px;
    text-align: center;
    font-size: 40px;
    color: white;
    -webkit-text-stroke: 1px black;
}

#AHBlue, #AIBlue, #AJBlue, #AKBlue {
    position: absolute;
    left: 60px;
    top: -2px;
    width: 150px;
    font-size: 24px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: white;
    -webkit-text-stroke: 1px black;
}

#AHOrange, #AIOrange, #AJOrange, #AKOrange {
    position: absolute;
    left: 60px;
    top: 45px;
    width: 150px;
    font-size: 24px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: white;
    -webkit-text-stroke: 1px black;
}

#AHBlueScore, #AIBlueScore, #AJBlueScore, #AKBlueScore {
    position: absolute;
    left: 195px;
    top: -10px;
    width: 80px;
    font-size: 35px;
    text-align: center;
    color: white;
    -webkit-text-stroke: 1px black;
}

#AHOrangeScore, #AIOrangeScore, #AJOrangeScore, #AKOrangeScore {
    position: absolute;
    left: 195px;
    top: 38px;
    width: 80px;
    font-size: 35px;
    text-align: center;
    color: white;
    -webkit-text-stroke: 1px black;
}


/* ===================== ROUND 4 ===================== */

#AL, #AN, #AO {
    position: absolute;
    left: 5px;
    top: 12px;
    width: 40px;
    text-align: center;
    font-size: 35px;
    color: white;
    -webkit-text-stroke: 1px black;
}

#AM {
    position: absolute;
    left: 2px;
    top: 12px;
    width: 40px;
    text-align: center;
    font-size: 35px;
    color: white;
    -webkit-text-stroke: 1px black;
}

/* BLUE TEAM */
#ALBlue, #AMBlue, #ANBlue, #AOBlue {
    position: absolute;
    left: 60px;
    top: -2px;
    width: 150px;
    font-size: 24px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: white;
    -webkit-text-stroke: 1px black;
}

/* ORANGE TEAM */
#ALOrange, #AMOrange, #ANOrange, #AOOrange {
    position: absolute;
    left: 60px;
    top: 46px;
    width: 150px;
    font-size: 24px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: white;
    -webkit-text-stroke: 1px black;
}

/* BLUE SCORE */
#ALBlueScore, #AMBlueScore, #ANBlueScore, #AOBlueScore {
    position: absolute;
    left: 196px;
    top: -10px;
    width: 80px;
    font-size: 35px;
    text-align: center;
    color: white;
    -webkit-text-stroke: 1px black;
}

/* ORANGE SCORE */
#ALOrangeScore, #AMOrangeScore, #ANOrangeScore, #AOOrangeScore {
    position: absolute;
    left: 196px;
    top: 38px;
    width: 80px;
    font-size: 35px;
    text-align: center;
    color: white;
    -webkit-text-stroke: 1px black;
}


/* ===================== ROUND 5 ===================== */

#AP, #AQ {
    position: absolute;
    left: 3px;
    top: 10px;
    width: 28px;
    text-align: center;
    font-size: 40px;
    color: white;
    -webkit-text-stroke: 1px black;
}

#APBlue, #AQBlue {
    position: absolute;
    left: 61px;
    top: -2px;
    width: 200px;
    font-size: 24px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: white;
    -webkit-text-stroke: 1px black;
}

#APOrange, #AQOrange {
    position: absolute;
    left: 60px;
    top: 44px;
    width: 28px;
    font-size: 24px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: white;
    -webkit-text-stroke: 1px black;
}

#APBlueScore, #AQBlueScore {
    position: absolute;
    left: 196px;
    top: -10px;
    width: 80px;
    font-size: 35px;
    text-align: center;
    color: white;
    -webkit-text-stroke: 1px black;
}

#APOrangeScore, #AQOrangeScore {
    position: absolute;
    left: 196px;
    top: 37px;
    width: 80px;
    font-size: 35px;
    text-align: center;
    color: white;
    -webkit-text-stroke: 1px black;
}


/* ===================== ROUND 6 ===================== */

#AR, #AS {
    position: absolute;
    left: 8px;
    top: 10px;
    width: 28px;
    text-align: center;
    font-size: 40px;
    color: white;
    -webkit-text-stroke: 1px black;
}

#ARBlue, #ASBlue {
    position: absolute;
    left: 65px;
    top: -2px;
    width: 150px;
    font-size: 24px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: white;
    -webkit-text-stroke: 1px black;
}

#AROrange, #ASOrange {
    position: absolute;
    left: 65px;
    top: 45px;
    width: 150px;
    font-size: 24px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: white;
    -webkit-text-stroke: 1px black;
}

#ARBlueScore, #ASBlueScore {
    position: absolute;
    left: 200px;
    top: -10px;
    width: 80px;
    font-size: 35px;
    text-align: center;
    color: white;
    -webkit-text-stroke: 1px black;
}


#AROrangeScore, #ASOrangeScore {
    position: absolute;
    left: 200px;
    top: 38px;
    width: 80px;
    font-size: 35px;
    text-align: center;
    color: white;
    -webkit-text-stroke: 1px black;
}


/* ===================== TICKER ===================== */

.marquee-container {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 1920px;
    overflow: hidden;
    z-index: 5;
}

.marquee {
    white-space: nowrap;
}

#ticker {
    font-family: OxaniumLight;
    font-size: 34px;
    color: white;
}

/* ===================== ANIMATION ===================== */

@keyframes marquee {
    from {
        transform: translateX(0%);
    }

    to {
        transform: translateX(-130%);
    }
}